#root {
    width: 20rem;
    background-color: #d2ffd2;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header h1{
    text-align: center;
}

header nav{
    text-align: center;
}
#container {
    opacity: 50%;
}
:root {
    --mdc-theme-primary: #FFE4e1;
    --mdc-theme-secondary: #FFE4e1;
}
dt {
    background-color: #7CB342;
    color: var(--mdc-theme-on-primary);
}
h2, dd {
    background-color: var(--mdc-theme-on-primary);
}

.aktiv { background-color: forestgreen }
.inaktiv { background-color: yellowgreen }
h1, h2, dl {
    margin: 0;
}
i.material-icons {
    cursor: pointer;
}
button.material-icons {
    font-size: inherit;
    vertical-align: bottom;
    background-color: lightgreen;
}
[type="checkbox"] {
    vertical-align: top;
    margin-right: 8px;
}
dt {
    display: flex;
    font-weight: 500;
    padding: 3px 5px;
}
dt span {
    width: 100%;
}

dd {
    display: flex;
    margin-left: 0;
}
label {
    width: 91%;
    cursor: pointer
}
.mdc-dialog {
    opacity: 100%;
}
.mdc-dialog__surface {
    position: absolute;
    top: 10%;
    left: 40px;
}
.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: darkgreen;
}

footer nav a {
    flex-grow: 1;
    display: block;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer nav button {
    padding: 0 12px;
    background-color: #96c733;
    color: #ffffff;
    font-weight: 600;
}